/* reset css */
h1,
h2,
h3,
div,
section,
article,
button,
form,
input{
    margin: 0;
    padding: 0;
}


/* layout */
body {
    background: linear-gradient(to bottom, #FFC0CB , #FFA500);
    word-break: keep-all;
}

.l-wrap {
    max-width: 760px;
    margin: 30px auto;
}

header {
    margin-top: 100px;
    text-align: center;
}


/* 최상단 이벤트 파트 */

.top-section{
    display: flex;
    align-items: center;
    margin: -50px auto 0;
}

.top-dog{
    display: block;
    width: 60%;
    height: 60%;
}

/* 말풍선 속성입니다. */
.text-box{
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    flex-grow: 1;
    position: relative;
    background-color: #ffff;
}

.speak {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

/* 말풍선 꼬리역할을 하는 가상요소입니다. */
.text-box::after {
    border-top: 50px solid #ffff;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 0px solid transparent;
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 20%;
    right: -15%;
    transform: translateY(10px); 
}

.btn {
    display: block;
    margin: auto auto 100px;
    background-color: salmon;
    border: 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}




/* 편지파트 header */

.title {
    border-radius: 10px;
    font-size: 36px;
    padding: 10px;
    background-color: aliceblue;

}

.guide-line {
    text-align: left;
    border-radius: 10px;
    font-size: 24px;
    background-color: #FFC0CB;
}

.guide-line p {
    margin-left: 20px;
    font-size: 28px;
}



/* 편지파트 main */


/* main article */
.art1,
.art2,
.art3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    position: relative;
}


.art1,
.art3 {
    background: url(../img/bright-background.jpg) no-repeat center center/ cover;
    margin-right: 50px;
}

.art2 {
    margin-left: 50px;
    background: url(../img/old-background.jpg) no-repeat center center/ cover;
}


/* 첫번째 편지지 아티클의 상단에 붙는 가상요소입니다. */
.art1::before {
    content: "";
    background: url(../img/Fson.png) no-repeat center /  contain;
    width: 200px;
    height: 200px;

    position: absolute;
    top: -120px;
    left: -20px;
}


/* 두번째 편지지 아티클의 상단에 붙는 가상요소입니다. */
.art2::before {
    content: "";
    background: url(../img/Fdaugther.png) no-repeat center / contain;
    width: 250px;
    height: 250px;

    position: absolute;
    top: -150px;
    right: 0;
}


.content-box {
    padding: 15px;
}


/* 이미지를 호버하면 확대  */
img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


/* 아티클 내의 이미지를 클릭되면 생길 이미지 이벤트 */
.img.clicked,
.img2.clicked,
.img3.clicked{
    transform: rotateY(180deg);
    transition: 1s;
}


/* 아티클 내의 이미지를 클릭하면 나타날 팝업창 */
.img-msg,
.img-msg2,
.img-msg3 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: salmon;


    position: absolute;
    top: 30%;
    right: 0;
    z-index: 100;

    display: none;
}


.img-msg.active,
.img-msg2.active,
.img-msg3.active {
    display: block;
}

.img-msg.active + .dim,
.img-msg2.active + .dim,
.img-msg3.active + .dim {
    display: block;
    z-index: 99;
}


/* 팝업창이 생기면 가려지는 전체 배경 */
.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}


/* main의 갤러리 */
.gallery {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.gallery h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}


/*갤러리는 grid로 짜봤지만, flex로 짜셔도 무관하고, template-area를 안쓰시는게 더 좋을 것 같긴 합니다. */
.photo-grid {
    display: grid;
      grid-template-areas:
        "a a  b b "
        " a a  b b "
        " c c  d d "
        " c c  d d ";
        gap : 10px 20px;
    justify-items: center;
    align-items: center;
    }

/* 갤러리 사진에 들어가는 속성입니다. */
    .a1,
    .b2,
    .c3,
    .d4 {
        width: 90%;
        height: 90%;
        object-fit: contain;
    }


.a1 {
    grid-area: a;
}

.b2 {
    grid-area: b;
}

.c3 {
    grid-area: c;
}

.d4 {
    grid-area: d;
}


/* 페이지 맨위로 이동하는 버튼 속성입니다. 여기에 애니메이션 효과를 넣고 싶으시면 javascript로 작업하시면 됩니다. */
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: aqua; 
    color: black; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 12px; 
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }



  /* 반응형입니다. 이 비율이면 어지간한 스마트폰에서 작동할 것입니다. */

@media (max-width: 720px) {
    .art1,
    .art2,
    .art3 {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .img-msg,
    .img-msg3 {
        position: absolute;
        top: 50%;
        left: 10%;
    }

    .img-msg2{
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .art1,
    .art3 {
    margin-right: 0;
    }

    .art2 {
        margin-left: 0;
    }

    

}

@media (max-width: 500px) {
    .text-box::after {
        
        top: 30%;
        right: -30%;
        transform: translateY(10px); 
    }
}

@media (max-width: 370px) {
    .text-box::after {
        
        top: 30%;
        right: -40%;
        transform: translateY(10px); 
    }
}