h1,
h2,
h3,
div,
section,
article,
button,
form,
input{
    margin: 0;
    padding: 0;
}

/* body {
    background: url(../편지지\ 3.avif) no-repeat center center / contain;
} */


.top-section{
    display: flex;
    align-items: center;
    margin: -50px auto 0;
}

.top-dog{
    display: block;
    width: 60%;
    height: 60%;
    /* margin: auto; */
}

.speak {
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 24px;
    flex-grow: 1;
    width: 100px;
    height: 100px;
}




.l-wrap {
    max-width: 760px;
    margin: 30px auto;
}

header {
    text-align: center;
}

.art1,
.art2,
.art3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    position: relative;
}

/* .img, 
.img2,
.img3 {
    position: relative;
} */

.art1,
.art3 {
    margin-right: 50px;
}

.art2 {
    margin-left: 50px;
}

img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



.img.clicked,
.img2.clicked,
.img3.clicked{
    transform: rotateY(180deg);
    transition: 1s;
}



.img-msg,
.img-msg2,
.img-msg3 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: salmon;


    position: absolute;
    top: 30%;
    right: 0;
    z-index: 100;

    display: none;
}


.img-msg.active,
.img-msg2.active,
.img-msg3.active {
    display: block;
}

.img-msg.active + .dim,
.img-msg2.active + .dim,
.img-msg3.active + .dim {
    display: block;
    z-index: 99;
}



.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}


.gallery {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.gallery h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.photo-grid {
    display: grid;
      grid-template-areas:
        "a a b b"
        "a a b b"
        "c c d d"
        "c c d d";
        gap : 10px 20px;
    justify-items: center;
    align-items: center;
    

    }


.a1 {
    
    width: 90%;
    height: 90%;
    object-fit: contain;
    grid-area: a;
}

.b2 {
    
    width: 90%;
    height: 90%;
    object-fit: contain;
    grid-area: b;
}

.c3 {
    
    width: 90%;
    height: 90%;
    object-fit: contain;
    grid-area: c;
}

.d4 {
    
    width: 90%;
    height: 90%;
    object-fit: contain;
    grid-area: d;
}

@media (max-width: 720px) {
    .art1,
    .art2,
    .art3 {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .img-msg,
    .img-msg3 {
        position: absolute;
        top: 50%;
        left: 10%;
    }

    .img-msg2{
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .art1,
    .art3 {
    margin-right: 0;
    }

    .art2 {
        margin-left: 0;
    }

    

}