h1,
h2,
h3,
div,
section,
article,
button,
form,
input{
    margin: 0;
    padding: 0;
}

.l-wrap {
    max-width: 760px;
    margin: 30px auto;
}

header {
    text-align: center;
}

.art1,
.art2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    position: relative;
}

.art1 {
    margin-right: 50px;
}

.art2 {
    margin-left: 50px;
}

img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.img.clicked{
    transform: rotateY(180deg);
    transition: 1s;
}

.img-msg {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

    position: absolute;
    top: 30%;
    right: 0;

    display: none;
}

.img-msg.active{
    display: block;
}